
<!doctype html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<!--width="150" height="150"-->
<body>
{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" alt="avatar" class="avatar">
{% else %}
<img src="{% static 'avatars/baseavatar.png' %}" alt="avatar" width="150" height="150">
{% endif %}
<h2>{{ profile.user.username }}</h2>
<p>{{ profile.bio }}</p>
{% if request.user == profile.user%}
<a href=" {% url 'user:edit_profile'%} ">Edit profile</a>
<a href=" {% url 'post:create_post'%} ">Create post</a>
{% endif %}

{% for post in profile.user.posts.all %}
  <div class="post-block">
    <div class="post-content">
      <p>{{ post.content }}</p>
      {% if request.user == post.author %}
        <a href="{% url 'post:post_delete' pk=post.pk %}">Delete post</a>
      {% endif %}
    </div>
      <div>
          {% with post.images.first as img %}
            {% if img %}
              <img
                src="{% url 'posts:thumbnail' post_pk=post.pk image_pk=img.pk %}"
                alt="Preview"
                style="width:150px; height:150px; object-fit:cover;"
              >
            {% endif %}
          {% endwith %}
    </div>
  </div>
{% endfor %}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.querySelectorAll('.swiper').forEach((el) => {
    new Swiper(el, {
      loop: true,
      navigation: {
        nextEl: el.querySelector('.swiper-button-next'),
        prevEl: el.querySelector('.swiper-button-prev'),
      },
    });
  });
</script>
</body>
</html>
