<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- Кнопка відкриття меню -->
<button id="openSidebar">☰ Menu</button>

<!-- Бокове меню -->
<div id="sidebar">
  <button id="closeSidebar">×</button>
  <ul>
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'user:profile' request.user.username%}">Головна</a></li>
      <li><a href="{% url 'user:profile' request.user.username%}">Профіль</a></li>
      <li><a href="{% url 'user:profile' request.user.username%}">Вийти</a></li>
    {% endif %}
    <!-- і т.д. -->
  </ul>
</div>

<!-- Основний контент сторінки -->
<div id="mainContent">
  {% block content %}
  {% endblock %}
</div>

<script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
